body
{
    background: linear-gradient(300deg,#4901a7,#252530,#1b1252,#0162c8,#0981d1) ;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
textarea
{
    border-radius: 200px;
    border-style:outset;
}
h1
{
    color: #fff;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
}
p
{
    color: #fff;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
}
logradouro
{
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px 1px #000000;
}
numero
{
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;   
    text-shadow: 2px 2px black;
}
complemento
{
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
}
nome
{   color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
}
sobrenome
{
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
}
btnGravar
{   
    position: relative;
    display:inline-block;
    margin-left: auto;
    padding: 10px 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 70px;
    background: linear-gradient(70deg,#7acce6,#0162c8,#4393e9);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
}
btnEditar
{
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 10px 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 70px;
    background: linear-gradient(70deg,#0162c8,#4d46b3,#4393e9);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
}
btnListar
{
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 10px 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 70px;
    background: linear-gradient(70deg,#0981d1,#0162c8,#4901a7);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;

}